.square {
  background: #000000;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
